   
<mat-card style="padding-left: 50px; width:700px; height: 280px">

    <table><tr><mat-label style="font-size:40px; margin-bottom: 200px"><b>ANALYZE</b></mat-label> </tr> </table>
    <div class="container">
      
<div class="input-group">
   <textarea placeholder ="Gap"  rows ="8" cols="20" maxheight="500" maxlength="8" style ="font-size:15px;"></textarea>
  <span class ="input-group-addon"></span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <textarea placeholder ="Reason" rows ="8" cols="50" maxheight="500" maxlength="8" style ="font-size:15px;"></textarea>
    
  
</div>
</div>
  
  <mat-card-actions>
    <button mat-raised-button color="accent" type="submit"(click)="onclick()">Submit</button>
   </mat-card-actions>

  </mat-card>

  


      

      