   
<mat-card>
<table> <tr><mat-label><b>IMPLEMENT</b></mat-label>
        </tr>
      </table>

  
  <mat-card-content>

    <form class="my-form"  [formGroup]="implementForm">   
        <mat-form-field  class="full width">
            <mat-label>Change Plan</mat-label>
             <input matInput type="change plan" tabindex="1" placeholder="" name="Change Plan" formControlName="changeplan">
           </mat-form-field>   
      <br>
      <mat-form-field class="full width">
          <mat-label>Alternative Solutions</mat-label>
          <input matInput placeholder="" name="Alternative Solutions" type="Alternative Solutions" formControlName="Alternativesolutions">
          </mat-form-field>
          <br>

          <mat-form-field class="full width">
              <mat-label>Team Discussion</mat-label>
              <input matInput placeholder="" name="Team Discussion" type="team discussion" formControlName="teamdiscussion">
              </mat-form-field>
              <br>

              <mat-card-actions>
                  <button mat-raised-button color="accent" type="submit"(click)="onclick()">Submit</button>
                 </mat-card-actions>

    </form>

  </mat-card-content>


  
</mat-card>

      