   
<mat-card style="padding-left: 50px; width:700px; height: 280px">

    <table><tr><mat-label style="font-size:40px; margin-bottom: 200px"><b>MEASURE</b></mat-label> </tr> </table>
    <div class="container">
      
<div class="input-group">
   <textarea placeholder ="Exposed metric"  rows ="4" cols="18" maxheight="500" maxlength="8" style ="font-size:15px;"></textarea>
  <span class ="input-group-addon"></span>
  &nbsp; 
  <b style="align-content:center"> - </b>
  &nbsp;
   
    <textarea placeholder ="Proposed metric"  rows ="4" cols="18" maxheight="500" maxlength="8" style ="font-size:15px;"></textarea>
    &nbsp;
  
    
    <button style="line-height: 60px; text-align:center,top=5px,padding-left=40%;"><b>=</b></button>&nbsp;&nbsp;
  
    <textarea placeholder ="Gap" rows ="4" cols="21" maxheight="500" maxlength="8" style ="font-size:15px;"></textarea>
    &nbsp;
  
</div>
</div>
  
  <mat-card-actions>
    <button mat-raised-button color="accent" type="submit"(click)="onclick()">Submit</button>
   </mat-card-actions>

  </mat-card>

  


      